<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    colors="true"
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="ViteBake Test Suite">
            <directory>tests/TestCase/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>
    </php>
</phpunit>
